{% extends 'moderations/base.html' %}
{% load static  %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}
{% endblock head %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body d-flex">
        <h5>Курсов <span class="c-o-light">({{ courses.count }})</span></h5>
        <div class="p-absolute end-0">
          <a class="btn btn-primary f-w-500" href="{% url 'moderation:course_create' %}" style=" margin: -5px 10px; ">
            <i class="fa fa-plus pe-2"></i>
            Создать
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <ul class="seller-cards">
      {% for course in courses %}
      <li class="seller-box" data-filter="professional_service">
        <div>
          <img style="height: 80px;" src="{% if course.image %}{{ course.image.url }}{% else %}{% static 'site/_generals/images/dashboard-2/order/sub-product/16.png' %}{% endif %}" alt="purse">
          <div>
            <h5>{{course.name}}</h5>
          </div>
        </div>
        <ul class="seller-profits">
          <li>
            <div class="common-space">
              <span>Отзывов</span>
              <span>{{course.courserewievs_set.count}}</span>
            </div>
          </li>
          <li>
            <div class="common-space">
              <span>Комментариев </span>
              <span>{{course.coursecomments_set.count}}</span>
            </div>
          </li>
          <li>
            <div class="common-space">
              <span> Изучений</span>
              <span>{{course.courseuser_set.count}}</span>
            </div>
          </li>
        </ul><a class="btn btn-primary btn-hover-effect" href="{% url 'moderation:course_update' course.id %}">Управление</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}