{% extends 'moderations/base_for_iframe.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}

{% block content %}

<div class="row">
    <form method="post"  class="account__main-info" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">{% trans 'Баннер' %}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ form.banner }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">{% trans 'Превью' %}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ form.previev }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">{% trans 'Заголовок' %}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ form.title }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">{% trans 'Описание' %}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ form.description }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">{% trans 'Заголовок обложки' %}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ form.title_previev }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">{% trans 'Описание обложки' %}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ form.description_previev }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">{% trans 'О проекте' %}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ form.about }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">{% trans 'Заголовок о проекте' %}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{ form.about_title }}
                </div>
            </div>
            <hr>
            <div class="col-sm-3 mb-4">
                    <h6 class="mb-0">{% trans 'Заголовки' %}</h6>
            </div>
            <div class="row justify-content-end">
                <div class="col-sm-9 text-secondary mb-2">
                    {{ form.twoblock_title_one_1 }}
                </div>
                <div class="col-sm-9 text-secondary mb-2">
                    {{ form.twoblock_title_two_1 }}
                </div>
                <div class="col-sm-9 text-secondary mb-2">
                    {{ form.twoblock_title_one_2 }}
                </div>
                <div class="col-sm-9 text-secondary mb-2">
                    {{ form.twoblock_title_two_2 }}
                </div>
                <div class="col-sm-9 text-secondary mb-2">
                    {{ form.twoblock_title_one_3 }}
                </div>
                <div class="col-sm-9 text-secondary mb-2">
                    {{ form.twoblock_title_two_3 }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success">
                        {% trans 'Сохранить' %}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<style>
    .form-control[type="file"]:not(:disabled):not([readonly]) {
        --tw-border-opacity: 1;
        border-color: rgb(226 232 240 / var(--tw-border-opacity));
        width: fit-content;
        display: block;
        border-radius: .375rem;
        border-width: 1px;
        font-size: .875rem;
        height: auto!important;
        padding: 5px 0px 5px 10px;
    }

    textarea#id_about {
        display: block !important;
        background: #fff;
        border: 0.0625rem solid #EEEEEE;
        padding: 0.3125rem 0.25rem;
        color: #6e6e6e;
        border-radius: 0.5rem;
    }
</style>
{% endblock content %}