{% extends 'moderations/base.html' %}
{% load i18n %}
{% load static  %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}
    <link rel="stylesheet" href="{% static 'profile/css/font-awesome/css/all.min.css' %}">
{% endblock head %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">{% trans 'Категории курсов' %}</h4>
            <div class="toolbar1" role="toolbar">
                <div class="btn-group mb-1">
                    <button type="button" class="btn btn-primary light px-3" onclick="location.href=`{% url 'moderation:categoryscourse_create' %}`">
                        <i class="fa fa-plus" style="margin-right: 10px"></i>{% trans 'Добавить категорию' %}
                    </button>
                </div>
                <div class="btn-group mb-1">
                    <button type="button" class="btn btn-primary light px-3" onclick="location.href=`{% url 'moderation:categoryscourse_create' %}`">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-primary light px-3" onclick="location.href=`{% url 'moderation:categoryscourse' %}`">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-primary light px-3" id="deleteButton" onclick="deleteSelected()">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                <div class="btn-group mb-1">
                    <button type="button" class="btn btn-primary light dropdown-toggle v" data-bs-toggle="dropdown">
                        {% trans 'Поиск по' %}
                        <span class="caret m-l-5"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="openSearch('name')">{% trans 'Название' %}</a>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="openSearch('category')">{% trans 'Родительская категория' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-responsive-md ck-table">
                    <thead style="text-align: center;">
                    <tr>
                        <th class="align-middle">
                                <div class="form-check custom-checkbox">
                                    <input type="checkbox" class="form-check-input" id="checkAll">
                                    <label class="form-check-label" for="checkAll"></label>
                                </div>
                            </th>
                        <th><strong>{% trans "Название" %}</strong></th>
                        <th><strong>{% trans "Родительская категория" %}</strong></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center;">
                    {% for categorys in categoryscourse %}
                    <tr>
                        <td class="py-2">
                                <div class="form-check custom-checkbox checkbox-success">
                                    <input type="checkbox" name="categorys_ids" value="{{ categorys.id }}" class="form-check-input" id="checkbox_{{ categorys.id }}">
                                    <label class="form-check-label" for="checkbox_{{ categorys.id }}"></label>
                                </div>
                            </td>
                        <td>{{ categorys.name }}</td>
                        {% if categorys.parent %}
                            <td>{{ categorys.parent.name }}</td>
                        {% else %}
                            <td>{% trans "Нет родительской категории" %}</td>
                        {% endif %}
                        <td class="py-2 text-right">
                            <div class="dropdown text-sans-serif" style="position:static">
                                <button class="btn btn-primary tp-btn-light sharp" type="button" id="order-dropdown-0" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
                                <div class="dropdown-menu dropdown-menu-end border py-0" aria-labelledby="order-dropdown-0" style="">
                                    <div class="py-2">
                                        <a class="dropdown-item" href="{% url 'moderation:categoryscourse_update' categorys.id %}">Редактировать</a>
                                        <div class="dropdown-divider">
                                        </div>
                                        <button class="dropdown-item text-danger" onclick="deleteCategorys({{ categorys.id }})">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'moderations/include/paginations.html' with items=categoryscourse %}
        </div>
    </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">{% trans 'Поиск' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="idSearchName" style="display: none;">
                    <input type="text" id="searchInputName" class="form-control" placeholder="{% trans 'Введите название' %}">
                </div>
                <div id="categorySearch" style="display: none;">
                    <select id="categorySelect" class="form-control">
                        <option value="">{% trans 'Выберите категорию' %}</option>
                        {% for category in categorys_settings %}
                            <option value="{{ category.id }}">{{ category.name }} {% if category.parent %} ({{ category.parent.name }}) {% endif %}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Закрыть' %}</button>
                <button type="button" class="btn btn-primary" onclick="performSearch()">{% trans 'Поиск' %}</button>
            </div>
        </div>
    </div>
</div>
<style>
    .table{
        width: 100%;
    }
    .card{
        margin-top: 1.25rem;
    }
</style>
<script>
    function openSearch(type) {
        const modalLabel = document.getElementById('searchModalLabel');
        modalLabel.textContent = type === 'name' ? '{% trans "Поиск по названию" %}' :
                             type === 'category' ? '{% trans "Поиск по категории" %}' : '';

        document.getElementById('idSearchName').style.display = 'none';
        document.getElementById('categorySearch').style.display = 'none';

        switch (type) {
            case 'category':
                document.getElementById('categorySearch').style.display = 'block';
                break;
            case 'name':
                document.getElementById('idSearchName').style.display = 'block';
                break;
        }

        $('#searchModal').modal('show');
    }

    function performSearch() {
        const searchCategory = document.getElementById('categorySelect').value;
        const searchName = document.getElementById('searchInputName').value;

        // Формируем URL для запроса
        const url = new URL(window.location.href);
        if (searchName) {
            url.searchParams.set('search_name', searchName);
        } else if (searchCategory) {
            url.searchParams.set('search_category', searchCategory);
        }

        console.log(url.toString()); // Проверяем, что URL сформирован правильно

        // Перезагружаем страницу с новыми параметрами
        window.location.href = url.toString();

        // Закрыть модальное окно после выполнения поиска
        $('#searchModal').modal('hide');
    }
</script>
<script>
    function toggleCheckboxes(source) {
        const checkboxes = document.querySelectorAll('input[name="categorys_ids"]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = source.checked;
        });
    }

    function deleteSelected() {
        const selectedIds = Array.from(document.querySelectorAll('input[name="categorys_ids"]:checked')).map(checkbox => checkbox.value);
        if (selectedIds.length === 0) {
            alert("{% trans 'Выберите хотя бы один элемент для удаления.' %}");
            return;
        }

        if (confirm("{% trans 'Вы уверены, что хотите удалить выбранные элементы?' %}")) {
            const csrfToken = '{{ csrf_token }}'; // Получаем CSRF-токен

            fetch("{% url 'moderation:categoryscourse_delete' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', // Измените на 'application/json'
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    categorys_ids: selectedIds // Отправляем массив ID как JSON
                })
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload(); // Перезагрузка страницы
                } else {
                    alert("{% trans 'Ошибка при удалении элементов.' %}");
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert("{% trans 'Ошибка при удалении элементов.' %}");
            });
        }
    }

    function deleteCategorys(categorysId) {
        if (confirm("{% trans 'Вы уверены, что хотите удалить этот элемент?' %}")) {
            const csrfToken = '{{ csrf_token }}'; // Получаем CSRF-токен

            fetch("{% url 'moderation:categoryscourse_delete' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', // Изменяем на application/json
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    categorys_ids: [categorysId] // Оборачиваем categorysId в массив
                })
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload(); // Перезагрузка страницы
                } else {
                    alert("{% trans 'Ошибка при удалении элемента.' %}");
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert("{% trans 'Ошибка при удалении элемента.' %}");
            });
        }
    }
</script>
{% endblock content %}