{% extends 'moderations/base_moderation.html' %}
{% load i18n %}
{% load static  %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}

{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>{{ pages.name }}</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'moderation:jobs_settings' %}">{% trans "Страницы" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Вакансии" %}</li>
        </ol>
    </div>
</div>
    <div class="card">
        <div class="card-body" >

            <form method="post" class="requisites-info" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 ">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Название" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.name }}
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Слаг" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.slug }}
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Местоположение" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.location }}
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Требования" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.requirements }}
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Зарплата" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.salary }}
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Тип занятости" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.job_type }}
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Уровень опыта" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.experience_level }}
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Активна" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.is_active }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 mt-4">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2">{% trans "Описание" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.description|safe }}
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-xl-6">
                            <div class="row">
                                <div class="mb-3">
                                    <h6 class="mb-2">{% trans "Превью" %}</h6>
                                </div>
                                {% if pages.previev %}
                                <div class="mb-2 relative inline-block shadow-md bg-slate-100">
                                    {% if pages.previev %}
                                    <img src="{{pages.previev.url}}" alt="" style="max-height: 300px; max-width: 95%">
                                    {% endif %}
                                </div>
                                {% else %}
                                    <div class="mb-2 relative inline-block shadow-md bg-slate-100">
                                        <div style="height:300px; border: 0.0625rem solid #EEEEEE; border-radius:0.5rem;width:80%;background: #fff;align-content: center;text-align: center;">
                                            <h1 style="transform: rotate(20deg); color: #ababab">Изображения нет</h1>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="mb-3 single-form">
                                    {{ form.previev }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Мета-заголовок ссылки" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.propertytitle }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Мета-описание ссылки" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.propertydescription|safe }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Заголовок" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.title }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-2" style="width: max-content">{% trans "Мета-описание" %}</h6>
                                </div>
                                <div class="mb-3">
                                    {{ form.content|safe }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-btn">
                                <button type="submit"
                                        class="btn btn-success"
                                        style=" margin-top: 10px; width: 150px">
                                    {% trans "Сохранить" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div><!--end card-->
    </div><!--end col-->
<style>
    textarea {
        --tw-border-opacity: 1;
        border-color: rgb(226 232 240 / var(--tw-border-opacity));
        display: block;
        width: 100%;
        border-radius: .375rem;
        border-width: 1px;
        padding: .5rem 1rem;
        font-size: .875rem;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
        margin: 0;
        font-family: inherit;
        resize: none;
        height: 120px;
    }
    textarea:focus{
        --tw-border-opacity: 1!important;
        border-color: rgb(59 130 246 / var(--tw-border-opacity))!important;
    }
    .form-control[type="file"]:not(:disabled):not([readonly]) {
        --tw-border-opacity: 1;
        border-color: rgb(226 232 240 / var(--tw-border-opacity));
        width: fit-content;
        display: block;
        border-radius: .375rem;
        border-width: 1px;
        font-size: .875rem;
        height: auto!important;
        padding: 5px 0px 5px 10px;
    }
    .django-ckeditor-widget {
        width: 100%;
    }
    .cke_editor_id_description {
        display: block !important;
        background: #fff;
        border: 0.0625rem solid #EEEEEE;
        padding: 0.3125rem 1.25rem;
        color: #6e6e6e;
        border-radius: 0.5rem;
        width: auto!important;
    }
    .choices__list--dropdown, .choices__list[aria-expanded] {
        position: relative;
        max-height: 120px;
        overflow: auto;
    }


</style>
<script>
    function transliterate(text) {
        const translitDict = {
            'а': 'a', 'б': 'b', 'в': 'v', 'г': 'g', 'д': 'd',
            'е': 'e', 'ё': 'e', 'ж': 'zh', 'з': 'z', 'и': 'i',
            'й': 'y', 'к': 'k', 'л': 'l', 'м': 'm', 'н': 'n',
            'о': 'o', 'п': 'p', 'р': 'r', 'с': 's', 'т': 't',
            'у': 'u', 'ф': 'f', 'х': 'kh', 'ц': 'ts', 'ч': 'ch',
            'ш': 'sh', 'щ': 'shch', 'ъ': '', 'ы': 'y', 'ь': '',
            'э': 'e', 'ю': 'yu', 'я': 'ya', ' ': '-', 'ç': 'c',
            'ƣ': 'q', 'ī': 'i', 'ş': 's', 'ū': 'u', 'ƶ': 'z'
        };

        return text.split('').map(char => {
            // Приводим к нижнему регистру и используем транслитерацию
            const lowerChar = char.toLowerCase();
            return translitDict[lowerChar] || lowerChar; // Используем транслитерацию или сам символ
        }).join('');
    }

    function generateSlug() {
        const nameInput = document.querySelector('input[name="name"]');
        const slugInput = document.querySelector('input[name="slug"]');

        // Преобразование текста в slug
        const slug = transliterate(nameInput.value) // Транслитерация
            .trim() // Убираем пробелы по краям
            .replace(/-+/g, '-') // Убираем лишние дефисы
            .replace(/^-|-$/g, '') // Убираем дефисы в начале и в конце
            .replace(/[^a-z0-9-]/g, ''); // Убираем все символы, кроме букв, цифр и дефисов

        slugInput.value = slug;
        console.log(slugInput.value);
    }

    document.addEventListener('DOMContentLoaded', function () {
        const nameInput = document.querySelector('input[name="name"]');
        nameInput.addEventListener('input', generateSlug);
    });
</script>

{% endblock content %}
