{% extends 'moderations/base_moderation.html' %}
{% load i18n %}
{% load static  %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}
    <link rel="stylesheet" href="{% static 'profile/css/font-awesome/css/all.min.css' %}">
{% endblock head %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">{% trans 'Страницы' %}</h4>
            <div class="toolbar1" role="toolbar">
                <div class="btn-group mb-1">
                    <button type="button" class="btn btn-primary light px-3" onclick="location.href=`{% url 'moderation:pages_create' %}`">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-primary light px-3" onclick="location.href=`{% url 'moderation:pages_settings' %}`">
                        <i class="fa fa-ban"></i>
                    </button>
                    <button type="submit" class="btn btn-primary light px-3" id="deleteButton" onclick="deleteSelected()">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                <div class="btn-group mb-1">
                    <button type="button" class="btn btn-primary light dropdown-toggle v" data-bs-toggle="dropdown">
                        {% trans 'Поиск по' %}
                        <span class="caret m-l-5"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="openSearch('name')">{% trans 'Название' %}</a>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="openSearch('id')">{% trans 'Слаг' %}</a>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="openSearch('type')">{% trans 'Тип' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm mb-2">
                    <thead style="text-align: center;">
                    <tr>
                        <th class="align-middle">
                            <div class="form-check custom-checkbox">
                                <input type="checkbox" class="form-check-input" id="checkAll">
                                <label class="form-check-label" for="checkAll"></label>
                            </div>
                        </th>
                        <th>{% trans "Тип" %}</th>
                        <th>{% trans "Название" %}</th>
                        <th>{% trans "Слаг" %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center;">
                    {% for pages in pages_list %}
                    <tr class="btn-reveal-trigger">
                        <td class="py-2">
                            <div class="form-check custom-checkbox checkbox-success">
                                <input type="checkbox" name="pages_ids" value="{{ pages.id }}" class="form-check-input"
                                       id="checkbox_{{ pages.id }}">
                                <label class="form-check-label" for="checkbox_{{ pages.id }}"></label>
                            </div>
                        </td>
                        <td class="py-2">{{ pages.get_pagetype_display }}</td>
                        <td class="py-2">{{ pages.name }}</td>
                        <td class="py-2">{{ pages.slug }}</td>
                        <td class="py-2 text-right">
                            <div class="dropdown text-sans-serif" style="position:static ">
                                <button class="btn btn-primary tp-btn-light sharp" type="button" id="order-dropdown-0" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></span></button>
                                <div class="dropdown-menu dropdown-menu-end border py-0" aria-labelledby="order-dropdown-0" style="">
                                    <div class="py-2">
                                        <a class="dropdown-item" href="{% url 'moderation:pages_update' pages.slug %}">Редактировать</a>
                                        <div class="dropdown-divider">
                                        </div>
                                        <button class="dropdown-item text-danger" onclick="deletePages({{ pages.id }})">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'moderations/include/paginations.html' with items=pages_list %}
        </div>
    </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">{% trans 'Поиск' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="idSearch" style="display: none;">
                    <input type="text" id="searchInput" class="form-control" placeholder="{% trans 'Введите слаг' %}" pattern="^[a-z0-9-]+$" >
                </div>

                <div id="idSearchName" style="display: none;">
                    <input type="text" id="searchInputName" class="form-control" placeholder="{% trans 'Введите название' %}">
                </div>
                <div id="typeSearch" style="display: none;">
                    <select id="typeSelect" class="form-control">
                        <option value="">{% trans 'Выберите тип' %}</option>
                        {% for pagetype in pagetypes %}
                            <option value="{{ pagetype.0 }}">{{ pagetype.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Закрыть' %}</button>
                <button type="button" class="btn btn-primary" onclick="performSearch()">{% trans 'Поиск' %}</button>
            </div>
        </div>
    </div>
</div>
<style>
    .table{
        width: 100%;
    }
    .card{
        margin-top: 1.25rem;
    }
</style>
<script>
    document.getElementById('searchInput').addEventListener('input', function () {
        this.value = this.value.replace(/[^a-z0-9-]/g, '');
    });
</script>

<script>
    function openSearch(type) {
        const modalLabel = document.getElementById('searchModalLabel');
        modalLabel.textContent = type === 'id' ? '{% trans "Поиск по слагу" %}' :
                             type === 'type' ? '{% trans "Поиск по типу" %}' :
                             type === 'name' ? '{% trans "Поиск по названию" %}' : '';

        document.getElementById('idSearch').style.display = 'none';
        document.getElementById('idSearchName').style.display = 'none';
        document.getElementById('typeSearch').style.display = 'none';

        switch (type) {
            case 'id':
                document.getElementById('idSearch').style.display = 'block';
                break;
            case 'type':
                document.getElementById('typeSearch').style.display = 'block';
                break;
            case 'name':
                document.getElementById('idSearchName').style.display = 'block';
                break;
        }

        $('#searchModal').modal('show');
    }

    function performSearch() {
        const searchId = document.getElementById('searchInput').value;
        const searchType = document.getElementById('typeSelect').value;
        const searchName = document.getElementById('searchInputName').value;

        // Формируем URL для запроса
        const url = new URL(window.location.href);
        if (searchId) {
            url.searchParams.set('search_id', searchId);
        } else if (searchType) {
            url.searchParams.set('search_type', searchType);
        } else if (searchName) {
            url.searchParams.set('search_name', searchName);
        }

        console.log(url.toString()); // Проверяем, что URL сформирован правильно

        // Перезагружаем страницу с новыми параметрами
        window.location.href = url.toString();

        // Закрыть модальное окно после выполнения поиска
        $('#searchModal').modal('hide');
    }
</script>
<script>
    function toggleCheckboxes(source) {
        const checkboxes = document.querySelectorAll('input[name="pages_ids"]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = source.checked;
        });
    }

    function deleteSelected() {
        const selectedIds = Array.from(document.querySelectorAll('input[name="pages_ids"]:checked')).map(checkbox => checkbox.value);
        if (selectedIds.length === 0) {
            alert("{% trans 'Выберите хотя бы один элемент для удаления.' %}");
            return;
        }

        if (confirm("{% trans 'Вы уверены, что хотите удалить выбранные элементы?' %}")) {
            const csrfToken = '{{ csrf_token }}'; // Получаем CSRF-токен

            fetch("{% url 'moderation:pages_delete' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', // Измените на 'application/json'
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    pages_ids: selectedIds // Отправляем массив ID как JSON
                })
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload(); // Перезагрузка страницы
                } else {
                    alert("{% trans 'Ошибка при удалении элементов.' %}");
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert("{% trans 'Ошибка при удалении элементов.' %}");
            });
        }
    }

    function deletePages(pagesId) {
        if (confirm("{% trans 'Вы уверены, что хотите удалить этот элемент?' %}")) {
            const csrfToken = '{{ csrf_token }}'; // Получаем CSRF-токен

            fetch("{% url 'moderation:pages_delete' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', // Изменяем на application/json
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    pages_ids: [pagesId] // Оборачиваем pagesId в массив
                })
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload(); // Перезагрузка страницы
                } else {
                    alert("{% trans 'Ошибка при удалении элемента.' %}");
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert("{% trans 'Ошибка при удалении элемента.' %}");
            });
        }
    }
</script>
{% endblock content %}