{% extends 'moderations/base_moderation.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }}{% endif %}{% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}

{% block head %}

{% endblock head %}

{% block content %}

<div class="row">
    <div class="col-sm-12 col-xl-12">
        <div class="card height-equal" >
            <form method="post"  class="account__main-info" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="profile_form" value="1">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Аватарка</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.avatar }}
                            {% if form.avatar.errors %}
                                <div class="text-danger">
                                    {{ form.avatar.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Логин</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="text-danger">
                                    {{ form.username.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Адрес электронной почты</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="text-danger">
                                    {{ form.email.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Телефон</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                <div class="text-danger">
                                    {{ form.phone.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                     <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Тип пользователя</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.type }}
                            {% if form.type.errors %}
                                <div class="text-danger">
                                    {{ form.type.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                     <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Пароль</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.password1 }}
                            {% if form.password1.errors %}
                                <div class="text-danger">
                                    {{ form.password1.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                     <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Повторите пароль</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.password2 }}
                            {% if form.password2.errors %}
                                <div class="text-danger">
                                    {{ form.password2.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    Публичная информация
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Имя</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                                <div class="text-danger">
                                    {{ form.first_name.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Фамилия</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                                <div class="text-danger">
                                    {{ form.last_name.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Отчество</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.middle_name }}
                            {% if form.middle_name.errors %}
                                <div class="text-danger">
                                    {{ form.middle_name.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Город</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.city }}
                            {% if form.city.errors %}
                                <div class="text-danger">
                                    {{ form.city.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Дата рождения</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.birthday }}
                            {% if form.birthday.errors %}
                                <div class="text-danger">
                                    {{ form.birthday.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Пол</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.gender }}
                            {% if form.gender.errors %}
                                <div class="text-danger">
                                    {{ form.gender.errors|join:", " }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-info">
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock content %}