{% extends 'moderations/base.html' %}
{% load static  %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}


{% endblock head %}

{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>{{ title }}</h4>
            <p class="mb-0">{{description}}</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{#% url 'moderation:companys' %#}">Главная</a></li>
            <li class="breadcrumb-item active"><a>Тикет</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-xl-12">
        <div class="card height-equal" >
            <div class="row">
                <div class="col-6">
                    <div class="reviews-content" style="margin-top: 40px;">
                        <!-- Форма для комментариев -->
                        <form id="commentForm" method="post" enctype="multipart/form-data" action="{% url 'moderation:add_comment' ticket.id %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form.content }}
                                </div>
                                <div class="col-md-8">
                                    <div class="single-form">
                                        {{ form.files }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-form">
                                        <button type="submit" class="btn btn-dark btn-hover-primary" style=" margin-top: 10px; ">
                                            Отправить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <div  id="list-ticket">
                        <div class="card-body">
                            <div class="bootstrap-media">
                                {% for comments in ticket_comments %}
                                <!-- Single Comment Start  -->
                                <div class="media mt-4">
                                    <img class="me-3 img-fluid rounded"  src="{% if comments.author.avatar %}{{comments.author.avatar.url}}{% endif %}" width="100" height="100" alt="author">
                                    <div class="media-body">
                                        <h5 class="mt-0">{{comments.author.username}}</h5>
                                        <p class="mb-0">
                                            {{comments.content}}
                                        </p>
                                        <span class="date">{{comments.date}}</span>

                                    </div>
                                </div>
                                {% if comments.media.all %}
                                <div class="col flex-column">
                                    {% for media in comments.media.all %}
                                    <a class="btn btn-primary btn-hover-dark"  href="{{ media.file.url }}">
                                        <i class="fa fa-file-o"></i>
                                        {{ media.get_file_name }}
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <!-- Single Comment End  -->
                                {% endfor %}
                                {% include 'moderations/include/paginations.html' with items=ticket_comments %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var commentForm = document.getElementById('commentForm');
        if (commentForm) {
            commentForm.addEventListener('submit', function(event) {
                event.preventDefault(); // Предотвращение стандартной отправки формы

                var formData = new FormData(this);

                fetch(this.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                    },
                    credentials: 'same-origin'
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    return response.json().then(data => {
                        throw new Error(JSON.stringify(data.errors));
                    });
                }).then(data => {
                    console.log('Успешно отправлено:', data);
                    this.reset();
                    refreshTicketList(); // Вызов функции обновления списка тикетов
                }).catch(error => {
                    console.error('Ошибка:', error);
                });
            });

            function refreshTicketList() {
                $('#list-ticket').load(location.href + ' #list-ticket>*', function(response, status, xhr) {
                    if (status == "error") {
                        console.log("Ошибка при загрузке данных:", xhr.status, xhr.statusText);
                    } else {
                        console.log("Данные успешно обновлены");
                    }
                });
            }

            refreshTicketList(); // Пример вызова функции для тестирования
        } else {
            console.log('Форма комментариев не найдена');
        }
    });
</script>
<style>
    .bootstrap-media{
        height: 60vh;
        overflow-x: auto;
    }
    input#id_files {
        margin-top: 30px;
    }
</style>
{% endblock content %}