{% extends 'moderations/base_moderation.html' %}
{% load i18n %}
{% load static  %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}
<!-- Подключение Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

<!-- Подключение Bootstrap JS и зависимостей (Popper.js) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
{% endblock head %}

{% block content %}

<div class="flex flex-col gap-2 py-4 md:flex-row md:items-center print:hidden">
    <div class="grow">
          <h4 class="text-16">| {% trans 'Тайминги модератора' %} - {{user_moderator_timing}} <br>| {% trans 'Общее время в месяц' %} - {{all_time_in_minuts}} {% trans 'Минут' %}</h4>
    </div>
    <ul class="flex items-center gap-2 text-sm font-normal shrink-0">
        <li class="relative before:content-['\ea54'] before:font-remix ltr:before:-right-1 rtl:before:-left-1  before:absolute before:text-[18px] before:-top-[3px] ltr:pr-4 rtl:pl-4 before:text-slate-400 dark:text-zink-200">
            <a href="{% url 'moderation:dashboard_moder'%}" class="text-slate-400 dark:text-zink-200">{% trans 'Главная' %}</a>
        </li>
        <li class="text-slate-700 dark:text-zink-100">
            {% trans 'Тайминги' %}
        </li>
    </ul>
</div>
<div class="grow">
 <form id="myForm"  method="get">
            <select id="selectMonth" class="form-select"  style="max-width: 200px;" name="month">
                {% for item in months %}
                <option value="{{ item }}" {% if month == item %} selected {% endif %}>{{ item }}</option>
                {% endfor %}
            </select>
        </form>

</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="row gy-4">
                <div class="col-lg-12">
                    {% for session in sessions_by_day %}
                    <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faq-content-{{ forloop.counter }}">
                                    <span class="num"><i class="bi bi-arrow-right-circle-fill"></i></span>
                                    {{session.day}} | {% trans 'Общее время в день' %} - {{session.total_time}} {% trans 'Минут' %}
                                </button>
                            </h3>
                            <div id="faq-content-{{ forloop.counter }}" class="accordion-collapse collapse " data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    <table class="basic-table">
                                        <tr>
                                            <th>{% trans 'Пользователь' %}</th>
                                            <th>{% trans 'Ссылка' %}</th>
                                            <th>{% trans 'Время' %}</th>
                                        </tr>
                                        {% for url, time in session.sessions%}
                                        <tr>
                                            <td data-label="Column 1">{{user_moderator_timing}}</td>
                                            <td data-label="Column 2">{{ url }}</td>
                                            <td data-label="Column 3">{% if time == 'None'%}{% trans 'Не определено' %}{% else %}{{ time }} {% trans 'Секунд' %}{% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- # Faq item-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    {% include 'moderations/include/paginations.html' %}
</div>
<style>
    .table{
        width: 100%;
    }
    .card{
        margin-top: 1.25rem;
    }
</style>
    <script>
    document.getElementById('selectMonth').addEventListener('change', function() {
        document.getElementById('myForm').submit();
    });
</script>

{% endblock content %}