{% load access_tag %}
{% load i18n %}
<div class="-mx-5 ">
    <table class="table">
        <thead >
        <tr class="border-bottom-primary">
            <th scope="col">
                Аватар
            </th>
            <th scope="col">
                ФИО
            </th>
            <th scope="col">
                Роль
            </th>

            <th scope="col">
                Почта
            </th>
            <th scope="col">
                Телефон
            </th>
            <th scope="col">
                Город
            </th>
            <th scope="col">
                Действия
            </th>
        </tr>
        </thead>
        <tbody class="list " id="employeeList">
        {% for user in users %}
        <tr class="{% if user.blocked %}red-overlay{% elif user.deleted %}gray-overlay{% else %} {% endif %}">
            <td class="ModerationGroupsAvatar">
                <img class="img-fluid table-avtar" src="{% if user.avatar %}{{ user.avatar.url }}{% endif %}" alt="">
            </td>
            <td class="ModerationGroupsName">
                {% if user.first_name and user.last_name and  user.middle_name %} {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }} {% else %}{{ user.username }}{% endif %}
            </td>
            <td class="ModerationGroupsEmail">
                {% if user.email %}{{ user.email }}{% endif %}
            </td>
            <td class="ModerationGroupsRole">
                {{user.get_type_display }}
            </td>
            <td class="ModerationGroupsPhone">
                {% if user.phone %}{{ user.phone }}{% endif %}
            </td>
            <td class="ModerationGroupsCountry">
                {% if user.city %}{{ user.city }}{% endif %}
            </td>
            <td class="ModerationGroupsAction">
                <div class="flex gap-3">
                    <ul class="action">
                        {% if user.blocked %}
                        <li style="    padding: 1px;" class="delete">
                            <form method="post" action="{% url 'moderation:unblock_user' pk=user.id %}" class="w-full">
                                {% csrf_token %}
                                <button type="submit"
                                        class="btn btn-primary light px-3">
                                    <!-- Уменьшил отступ слева до ml-1 -->
                                    <i class="fa fa-unlock inline-block size-4 ltr:mr-1 rtl:ml-1"></i>
                                    <span class="align-middle">{% trans 'Разблокировать' %}</span>
                                </button>
                            </form>
                        </li>
                        {% elif user.deleted %}
                        <form style="padding: 1px;" method="post" action="{% url 'moderation:restore_user' pk=user.id %}" class="w-full">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-primary light px-3">
                                <!-- Уменьшил отступ слева до ml-1 -->
                                <i class="fa fa-unlock inline-block size-4 ltr:mr-1 rtl:ml-1"></i>
                                <span class="align-middle">{% trans 'Восстановить' %}</span>
                            </button>
                        </form>
                        <form style="padding: 1px;" method="post" action="{% url 'moderation:worker_delete' pk=user.id %}" class="w-full">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-primary light px-3">
                                <!-- Уменьшил отступ слева до ml-1 -->
                                <i class="fa fa-unlock inline-block size-4 ltr:mr-1 rtl:ml-1"></i>
                                <span class="align-middle">{% trans 'Удалить' %}</span>
                            </button>
                        </form>
                        {% else %}
                        <li style="    padding: 1px;">
                            <a href="{% url 'moderation:edit_worker_profiles' user.id %}"
                               data-modal-target="addEmployeeModal"
                               class="btn btn-primary light px-3">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li style="    padding: 1px;">
                            <form method="GET"
                                  action="{#% url 'moderation:create_worker_chat' user.pk %#}">
                                {% csrf_token %}
                                <button type="submit"
                                        class="btn btn-primary light px-3">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                </button>
                            </form>
                        </li>
                        <li style="    padding: 1px;">
                            <form method="post"
                                  action="{% url 'moderation:delete_user' user.id %}">
                                {% csrf_token %}
                                <button type="submit" data-modal-target="deleteModal"
                                        class="btn btn-primary light px-3">
                                    <i class="fa fa-trash-alt inline-block size-3 ltr:mr-1 rtl:ml-1"></i>
                                    <span class="align-middle">{% trans 'Удалить' %}</span>
                                </button>
                            </form>
                        </li>
                        {% if user.type == 2 %}
                        <li style="    padding: 1px;">
                            <a class="btn btn-primary light px-3"
                               href="{% url 'moderation:other_moderator_timing' user.id %}">
                                <i class="fa fa-clock inline-block size-3 ltr:mr-1 rtl:ml-1"></i>
                                <span class="align-middle">{% trans 'Время на сайте' %}</span>
                            </a>
                        </li>
                        {% endif %}
                        <li style="    padding: 1px;">
                            <form method="post"
                                  action="{% url 'moderation:block_user' pk=user.id %}">
                                {% csrf_token %}
                                <button type="submit"
                                        class="btn btn-primary light px-3">
                                    <i class="fa fa-ban inline-block size-3 ltr:mr-1 rtl:ml-1"></i>
                                    <span class="align-middle">{% trans 'Заблокировать' %}</span>
                                </button>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </td>
        </tr>
{% endfor %}
</tbody>
</table>
</div>