{% extends 'useraccounts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block headtitle %} {% endblock headtitle %}
{% block headdescription %}{% endblock headdescription %}
{% block headkeywords %}{% endblock headkeywords %}
{% block headlink %}

{% endblock headlink %}
{% block content %}
    <main class="flex-grow p-6">
        <main class="flex-grow p-6">
            <div class="grid 2xl:grid-cols-4 gap-6 mb-6">
                <div class="2xl:col-span-3">
                    <!---|/Рекламные предложения|--->
                    <div class="grid 2xl:grid-cols-4 md:grid-cols-2 gap-6">
                        <div class="2xl:col-span-2 md:col-span-2">
                            <div class="card">
                                <div class="p-6">
                                    <div class="flex justify-between items-center">
                                        <h4 class="card-title">Список конференции</h4>

                                    </div>

                                    <div class="grid md:grid-cols-2 items-center gap-4">
                                        <div class="md:order-1 order-2">
                                            <div class="flex flex-col gap-6">
                                                <div class="flex items-center">
                                                    <div class="flex-shrink-0">
                                                        <i class="mgc_round_fill h-10 w-10 flex justify-center items-center rounded-full bg-success/25 text-lg text-success"></i>
                                                    </div>
                                                    <div class="flex-grow ms-3">
                                                        <h5 class="fw-semibold mb-1">Участвовал в роли Спикера</h5>
                                                        <ul class="flex items-center gap-2">
                                                            <li class="list-inline-item"><b>{{ spiker_count }}</b> Проектов</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="flex items-center">
                                                    <div class="flex-shrink-0">
                                                        <i class="mgc_round_fill h-10 w-10 flex justify-center items-center rounded-full bg-primary/25 text-lg text-primary"></i>
                                                    </div>
                                                    <div class="flex-grow ms-3">
                                                        <h5 class="fw-semibold mb-1">Участвовал в роли Участника</h5>
                                                        <ul class="flex items-center gap-2">
                                                            <li class="list-inline-item"><b>{{ participant_count }}</b> Проектов</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="flex items-center">
                                                    <div class="flex-shrink-0">
                                                        <i class="mgc_round_fill h-10 w-10 flex justify-center items-center rounded-full bg-warning/25 text-lg text-warning"></i>
                                                    </div>
                                                    <div class="flex-grow ms-3">
                                                        <h5 class="fw-semibold mb-1">Участвовал в роли Посетителя</h5>
                                                        <ul class="flex items-center gap-2">
                                                            <li class="list-inline-item"><b>{{ visitor_count }}</b> Проектов</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="md:order-2 order-1">
                                            <div id="project-overview-chart" class="apex-charts" data-colors="#3073F1,#ff679b,#0acf97,#ffbc00"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
                <!-- Title -->
                <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
                    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Найдите правильный план для себя</h2>
                    <p class="mt-1 text-gray-600 dark:text-gray-400">Оплачивайте услугу по ходу дела, отменяйте в любое время.</p>
                </div>
                <!-- End Title -->

                <!-- Grid -->
                <div class="mt-12 relative before:absolute before:inset-0 before:-z-[1] before:bg-[radial-gradient(closest-side,#cbd5e1,transparent)] dark:before:bg-[radial-gradient(closest-side,#334155,transparent)]">
                    <div class="grid gap-px sm:grid-cols-2 lg:grid-cols-4 lg:items-center">
                        <!-- Card -->
                        <div class="flex flex-col h-full text-center">
                            <div class="bg-white pt-8 pb-5 px-8 dark:bg-gray-800">
                                <h4 class="font-medium text-lg text-gray-800 dark:text-gray-200">Бесплатный</h4>
                            </div>
                            <div class="h-full bg-white lg:mt-px lg:py-5 px-8 dark:bg-gray-800">
                                <span class="mt-7 font-bold text-5xl text-gray-800 dark:text-gray-200">
                                    <span class="font-bold text-2xl -me-2">&nbsp</span>
                                    Ноль
                                </span>
                            </div>
                            <div class="bg-white flex justify-center lg:mt-px pt-7 px-8 dark:bg-gray-800">
                                <ul class="space-y-2.5 text-center text-sm">
                                    <li class="text-gray-800 dark:text-gray-400">
                                        15 пользователей
                                    </li>
                                    <li class="text-gray-800 dark:text-gray-400">
                                        Мин 50 минут
                                    </li>
                                    <li class="text-gray-800 dark:text-gray-400">
                                        Без демонстрации экрана
                                    </li>
                                </ul>
                            </div>
                            <div class="bg-white py-8 px-8 dark:bg-gray-800">
                                <a class="btn btn-lg border-primary text-primary hover:bg-primary hover:text-white" href="pages-pricing.html#">
                                    Ваш тариф
                                </a>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="flex flex-col h-full text-center">
                            <div class="bg-white pt-8 pb-5 px-8 dark:bg-gray-800">
                                <h4 class="font-medium text-lg text-gray-800 dark:text-gray-200">Запуск</h4>
                            </div>
                            <div class="h-full bg-white lg:mt-px lg:py-5 px-8 dark:bg-gray-800">
                                <span class="mt-7 font-bold text-5xl text-gray-800 dark:text-gray-200">
                                    <span class="font-bold text-2xl -me-2">₽</span>
                                    100
                                </span>
                            </div>
                            <div class="bg-white flex justify-center lg:mt-px pt-7 px-8 dark:bg-gray-800">
                                <ul class="space-y-2.5 text-center text-sm">
                                    <li class="text-gray-800 dark:text-gray-400">
                                        20 пользователей
                                    </li>
                                    <li class="text-gray-800 dark:text-gray-400">
                                        Мин 120 минут
                                    </li>
                                    <li class="text-gray-800 dark:text-gray-400">
                                       Есть демонстрации экрана
                                    </li>
                                </ul>
                            </div>

                            <div class="bg-white py-8 px-8 dark:bg-gray-800">
                                <a class="btn btn-lg border-primary text-primary hover:bg-primary hover:text-white" href="pages-pricing.html#">
                                    Купить
                                </a>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="flex flex-col h-full text-center">
                            <div class="bg-white pt-8 pb-5 px-8 dark:bg-gray-800">
                                <h4 class="font-medium text-lg text-gray-800 dark:text-gray-200">Средний</h4>
                            </div>
                            <div class="h-full bg-white lg:mt-px lg:py-5 px-8 dark:bg-gray-800">
                                <span class="mt-7 font-bold text-5xl text-gray-800 dark:text-gray-200">
                                    <span class="font-bold text-2xl -me-2">₽</span>
                                    500
                                </span>
                            </div>

                            <div class="bg-white flex justify-center lg:mt-px pt-7 px-8 dark:bg-gray-800">
                                <ul class="space-y-2.5 text-center text-sm">
                                    <li class="text-gray-800 dark:text-gray-400">
                                        25 пользователей
                                    </li>
                                    <li class="text-gray-800 dark:text-gray-400">
                                        Без ограничений
                                    </li>
                                    <li class="text-gray-800 dark:text-gray-400">
                                        Есть демонстрации экрана
                                    </li>
                                </ul>
                            </div>
                            <div class="bg-white py-8 px-8 dark:bg-gray-800">
                                <a class="btn btn-lg border-primary text-primary hover:bg-primary hover:text-white" href="pages-pricing.html#">
                                    Купить
                                </a>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="flex flex-col h-full text-center">
                            <div class="bg-white pt-8 pb-5 px-8 dark:bg-gray-800">
                                <h4 class="font-medium text-lg text-gray-800 dark:text-gray-200">Бизнес</h4>
                            </div>
                            <div class="h-full bg-white lg:mt-px lg:py-5 px-8 dark:bg-gray-800">
                                <span class="mt-7 font-bold text-5xl text-gray-800 dark:text-gray-200">
                                    <span class="font-bold text-2xl -me-2">₽</span>
                                        1000
                                </span>
                            </div>
                            <div class="bg-white flex justify-center lg:mt-px pt-7 px-8 dark:bg-gray-800">
                                <ul class="space-y-2.5 text-center text-sm">
                                    <li class="text-gray-800 dark:text-gray-400">
                                        Без ограничений
                                    </li>
                                    <li class="text-gray-800 dark:text-gray-400">
                                        Без ограничений
                                    </li>
                                    <li class="text-gray-800 dark:text-gray-400">
                                        Есть демонстрации экрана
                                    </li>
                                </ul>
                            </div>
                            <div class="bg-white py-8 px-8 dark:bg-gray-800">
                                <a class="btn btn-lg border-primary text-primary hover:bg-primary hover:text-white" href="pages-pricing.html#">
                                    Купить
                                </a>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                </div><!-- End Grid -->
            </div>
        </main>
    </main>
{% endblock content %}
{% block footer %}
    <!-- Apexcharts js -->
    <script src="{% static 'admin_panel/libs/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static 'admin_panel/js/pages/dashboard.js' %}"></script>

{% endblock footer %}