{% extends 'moderations/base_full.html' %}
{% load static i18n %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}{% endblock head %}

{% block content %}
<div id="wrapper" class="inner-pages ui-elements hd-white">
    <!-- START SECTION HEADINGS -->
    <div class="clearfix"></div>

    <section class="headings">
        <div class="text-heading text-center">
            <div class="container">
                <h1>{% trans 'Пароль успешно сброшен' %}</h1>
                <h2><a href="{% url 'webmain:home' %}">Главная </a> &nbsp;/&nbsp; {% trans 'Пароль успешно сброшен' %}</h2>
            </div>
        </div>
    </section>
    <!-- END SECTION HEADINGS -->
    <div id="login">
        <div class="login">
            <div class="text-center mb-4">
                <img src="{% if settings.logo %}{{settings.logo.url}}{% endif %}" alt="Логотип">
            </div>
            <h4 class="text-center mb-4">{% trans 'Пароль успешно сброшен' %}</h4>
            <p class="text-center">{% trans 'Ваш пароль был успешно изменен. Вы можете' %} <a class="btn-link text-primary" href="{% url 'useraccount:login' %}">{% trans 'войти' %}</a> {% trans 'с новым паролем' %}.</p>
        </div>
    </div>
</div>
<style>
    .col-xl-12 {
        padding: 60px!important;
    }
</style>
{% endblock content %}