{% extends 'site/default/base.html' %}
{% load static  %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
    .wrap-text {
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
</style>
{% endblock head %}
{% block content %}

<div class="landing-main"><a id="workarea"></a>
    <div id="b3612" class="block-wrapper block-04-2-one-col-fix-with-title-2">
        <section class="landing-block landing-semantic-background-color js-animation g-pt-30 g-pb-30 g-bg"
                 style="background-image: ;--bg: hsla(0, 0%, 29%, 1);">
            <div class="landing-block-node-inner js-animation container g-max-width-container text-uppercase u-heading-v2-4--bottom text-left g-border-color"
                 style="--border-color: var(--primary);">
                <h6 class="landing-block-node-subtitle landing-semantic-subtitle-medium js-animation g-font-weight-700 g-letter-spacing-1 g-color-primary g-mb-20 animated"
                    style=""></h6>
                <h2 class="landing-block-node-title landing-semantic-title-medium js-animation fadeIn h1 u-heading-v2__title g-line-height-1_3 g-font-weight-700 g-color-white"
                    style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">{{ blog.name }}</h2>
            </div>
        </section>
    </div>
    <div id="b3613" class="block-wrapper block-26-4-separator">
        <div class="landing-block g-pt-0 g-pb-0 g-height-70 g-height-50--md g-fill-second g-fill-first"
             style="--fill-second: #ffffff;--fill-first: var(--primary);">
            <svg class="g-width-100x g-height-100x" viewBox="0 0 1100 200" preserveAspectRatio="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path class="fill-first" d="M0 0H1100V2V3V198L5.61174 3H0V2.00009V0Z"></path>
                <path class="fill-second" d="M1100 198V200H0V198V197V2L1094.39 197H1100V198Z"></path>
            </svg>
        </div>
    </div>
    <div id="b3614" class="block-wrapper block-31-6-two-cols-title-text-button-and-img">
        <section class="landing-block g-pt-30 g-pb-30">
            <div class="container">
                <article class="landing-block-card row no-gutters align-items-center g-mb-30 g-mb-0--last">
                    <div class="landing-block-node-col-text col-md-6 order-2 order-md-1 g-py-30 g-px-15 g-px-30--md g-px-45--lg js-animation fadeInLeft"
                         style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
                        <h6 class="landing-block-node-subtitle landing-semantic-text-small g-font-weight-700 g-color" style="--color: var(--primary);">
                            {{ blog.date_time|date:"Y-m-d H:i" }}
                        </h6>
                        <h3 class="landing-block-node-title landing-semantic-title-small g-font-weight-700 mb-4">{{ blog.name }}</h3>
                        <div class="landing-block-node-text landing-semantic-text-medium wrap-text">
                            <p >{{ blog.description|safe }}</p>
                        </div>
                        <div class="landing-block-node-containerbutton g-pointer-events-all g-flex-centered justify-content-start g-pt-10 g-pb-10 g-pl-auto"
                             style="">
                            <script data-b24-form="click/54/u21ko9" data-skip-moving="true" data-b24-loaded="true">
                                (function (w, d, u) {
                                    var s = d.createElement('script');
                                    s.async = true;
                                    s.src = u + '?' + (Date.now() / 180000 | 0);
                                    var h = d.getElementsByTagName('script')[0];
                                    h.parentNode.insertBefore(s, h);
                                })(window, document, 'https://portal.so-ratniki.ru/upload/crm/form/loader_54_u21ko9.js');
                            </script>
                            <a href="#" onclick="BX.PreventDefault();"
                               class="landing-block-node-button-1090 btn text-uppercase g-btn-type-solid g-btn-size-md g-btn-px-m g-ml-10 g-mr-10 g-rounded-10 g-button-color" target="_self"
                               style="--button-color-contrast: hsla(26, 100%, 100%, 1);--button-color-hover: var(--primary);--button-color-light: hsla(26, 52%, 72%, 1);--button-color: var(--primary);">
                                Принять участие
                            </a>
                        </div>

                    </div>
                    <div class="landing-block-node-col-img col-md-6 order-1 order-md-2 g-pl-15--md">
                        <h2 class="landing-block-node-title-4725 g-pointer-events-all h2 text-center g-color g-mb-40" style="--color: var(--primary);">
                            {{ blog.date_time }}
                        </h2>
                        <div class="landing-block-node-containerimg g-pointer-events-all text-center">
                            <img class="landing-block-node-img-7629 img-fluid" src="{% if blog.cover %}{{ blog.cover.url }}{% endif %}" alt="Картинка мероприятия">
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    <div id="b3617" class="block-wrapper block-26-separator">
        <section class="landing-block g-pt-10 g-pb-10">

            <hr class="landing-block-line landing-semantic-border my-0 g-border-color"
                style="--border-color: var(--primary);">

        </section>
    </div>
    <div id="b3618" class="block-wrapper block-52-5-link-back">
        <section class="landing-block g-bg-white u-block-border-none">
            <div class="container d-flex">
                <a class="js-link-back g-text-decoration-none--hover g-flex-centered g-color-black-opacity-0_5 g-color-black--hover g-pt-20 g-pb-0"
                   href="javascript:void(0);" onclick="goBack()">
                        <span>
                            <i class="hs-icon hs-icon-arrow-left g-flex-centered g-font-size-12 g-pr-10"></i>
                        </span>
                    <span class="landing-block-node-title text-left g-ma-0 g-font-size-17 g-font-weight-400 g-font-roboto d-block g-nowrap g-overflow-hidden g-text-overflow-ellipsis">Вернуться</span>
                </a>
            </div>
        </section>
    </div>
    <div id="b3619" class="block-wrapper block-26-6-separator-waves">
        <div class="landing-block g-pt-0 g-pb-0 g-height-150--md g-height-70 g-my-minus-2 g-fill-first g-fill-second"
             style="--fill-first: #ffffff;--fill-second: hsla(0, 0%, 7%, 1);">
            <svg class="g-width-100x g-height-100x" viewBox="0 0 3184 446" preserveAspectRatio="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path class="fill-first"
                      d="M3184 257.647L3158.22 253.329C3028.5 232.456 2886.86 222.357 2733.29 223.032C2642.26 223.431 2551.78 228.592 2461.84 236.149C2426.54 236.549 2391.09 238.004 2355.34 240.275C2221 231.285 2068.99 226.286 1913.49 231.156C1723.42 237.109 1558.37 264.563 1391.63 286.417C1137.84 264.35 920.847 223.032 661.328 223.032C563.229 223.032 473.232 231.394 391.326 248.135L343.441 243.122C217.846 230.497 109.05 223.812 17.0527 223.07L0 223V0H3184V257.647Z"></path>
                <path class="fill-second"
                      d="M2733.29 223.032C2897.09 222.312 3047.33 233.851 3184 257.647V339.233C3184 338.771 2910.31 259.731 2582.38 239.042C2542.25 236.511 2502.17 235.647 2461.89 236.127C2551.82 228.59 2642.28 223.431 2733.29 223.032ZM1845.32 295.894C1568.49 310.033 1352.52 284.477 1144.23 259.829C986.552 241.17 833.274 223.032 661.328 223.032C559.757 223.032 466.872 231.996 382.674 249.926C452.603 251.103 528.079 254.504 609.102 260.128C675.002 264.702 743.206 270.305 813.746 276.1C1114.33 300.792 1457.33 328.97 1845.32 295.894Z"
                      opacity="0.35"></path>
                <path class="fill-second"
                      d="M2355 240.297C2220.73 231.276 2068.85 226.29 1913.49 231.156C1759.53 235.978 1621.99 254.907 1486.68 273.529C1400.94 285.329 1316.09 297.005 1228.53 304.892C1472.56 316.132 1739.31 314.555 2029.73 275.756C2143.31 260.583 2250.44 246.954 2355 240.297ZM413.43 250.578C249.63 232.193 111.82 223 0 223V274.754C106.985 254.341 244.795 246.283 413.43 250.578Z"
                      opacity="0.35"></path>
                <path class="fill-second"
                      d="M0 274.754C145.792 246.937 348.826 242.062 609.102 260.128C999.516 287.227 1470.77 350.429 2029.73 275.756C2226.59 249.458 2404.1 227.795 2582.38 239.042C2910.31 259.731 3184 338.771 3184 339.233V446H0V274.754Z"></path>
            </svg>
        </div>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}
{% block footer %}{% endblock footer %}
