from .core_settings import BASE_DIR
from environs import Env

env = Env()
env.read_env()

DEBUG = True

STATIC_ROOT = BASE_DIR / '_staticfiles'
STATICFILES_DIRS = [
    BASE_DIR / '_static'
]

DATABASES = {
    'default': {
        # 'ENGINE': 'django.db.backends.sqlite3',
        # 'NAME': BASE_DIR / 'db.sqlite3',
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': env.str('POSTGRES_DB'),
        "USER": env.str("POSTGRES_USER", "admin"),
        "PASSWORD": env.str("POSTGRES_PASSWORD", "qwe123QWE"),
        "HOST": env.str("DJANGO_POSTGRES_HOST", "localhost"),
        "PORT": env.int("DJANGO_POSTGRES_PORT", 5432),

    }
}